// Custom Resets
html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-eos-space);
  color: white;
  overflow: hidden;
}

// Global Scrollbar
::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-eos-gold);
  border-radius: 10px;
}
