.monitor-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    'header header header'
    'left-panel globe globe';
  gap: 0.5rem;
  background-color: black;
}
.header {
  grid-area: header;
}
.left-panel {
  grid-area: left-panel;
}
.globe {
  grid-area: globe;
}
/* .infoPanel {
  grid-area: infoPanel;
} */
/* .footer {
  grid-area: footer;
} */
